version: '2'

services:
  file_beam:
    build:
      context: "."
      dockerfile: "Dockerfile"
    ports:
      - 8080:8080
      - 8443:8443
    volumes:
      - .:/opt/app
      ## uncomment the below lines if you want to see the contents of the
      ## container's deps/ and _build/ directories in your local project,
      ## under container_mix
      # - ./container_mix_artifacts:/opt/mix_artifacts
  

